<div th:fragment="menu_ask" class="col-md-8" style="margin-left: 30px;">
    <style>
        .box {
                width:80%;
                height:150px;
                background:#FFF;
                border-radius: 15px;
                margin:20px;
                
        }

        .box h3 {
            padding-top: 10px;
            text-align:center;
            font-weight: bold;
            font-size: large;
        }

        .box h1 {
            padding-top: 12px;
            text-align:center;
            font-size: 50px
        }

        .effect{
                -webkit-box-shadow: 0 5px 6px -6px #777;
                -moz-box-shadow: 0 5px 6px -6px #777;
                box-shadow: 0 5px 6px -6px #777;
        }
    </style>
    <div class="row-md-3">
        <p style="font-weight: bolder; font-size: large;">문의내역</p>
        <div class="row" style="background-color: honeydew; border-radius: 15px;">
            <div class="col-sm-4">
                <div class="box effect">
                    <h3>문의수</h3>
                    <h1>1</h1>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="box effect">
                    <h3>진행중</h3>
                    <h1>1</h1>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="box effect">
                    <h3>답변완료</h3>
                    <h1>0</h1>
                </div>
            </div>   
        </div>
    </div>
    <div class="row-md-9" style="margin-top: 50px;">
        <hr/>
        <div class="btn-group" role="group" style="margin-bottom: 10px;">
            <button type="button" class="btn btn-outline-secondary btn-sm dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">전체문의</button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">서비스문의</a></li>
                <li><a class="dropdown-item" href="#">클래스문의</a></li>
            </ul>
        </div>
        <div class="btn-group" role="group" style="margin-bottom: 10px;">
            <button type="button" class="btn btn-outline-secondary btn-sm dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">처리상태</button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">진행중</a></li>
                <li><a class="dropdown-item" href="#">답변완료</a></li>
            </ul>
        </div>
        <div class="btn-group" role="group" style="margin-bottom: 10px;">
            <button type="button" class="btn btn-outline-secondary btn-sm dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">날짜순</button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">최신순</a></li>
                <li><a class="dropdown-item" href="#">오래된순</a></li>
            </ul>
        </div>
            
        <table class="table">
            <thead>
                <tr>
                    <th>번호</th>
                    <th>문의유형</th>
                    <th>제목</th>
                    <th>내용</th>
                    <th>처리상태</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>서비스문의</td>
                    <td><a href="#">환불 언제까지 가능하나요?</a></td>
                    <td>결제한거 환불..</td>
                    <td>진행중</td>
                   
        
                </tr>
                <tr>
                    <td>2</td>
                    <td>클래스문의</td>
                    <td><a href="#">할인 문의드립니다.</a></td>
                    <td>지난번에 참여했을때 할인...</td>
                    <td>답변완료</td>
                    

                </tr>
            </tbody>
        </table>
    </div>
</div>