<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" th:href="@{/css/review/review.css}" />
        <link rel="stylesheet" th:href="@{/css/review/snow.css}" />
    <title>Document</title>
</head>
<body>

      <!-- 리뷰 모달 버튼 -->
    <button class="btn btn-sm btn-secondary" type="button" style="height: 30px; width: 90px;"
    data-bs-toggle="modal" data-bs-target="#exampleModal">리뷰작성></button>


    <!-- 리뷰 모달 -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header" style="background-color: #008000; height: 50px;">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form th:action="@{/review/insert.do}" id="myform" method="post" enctype="multipart/form-data">
                    <div class="modal-body">
                        <div class="container-fluid">
                            <div class="row d-flex flex-nowrap" style="height: 110px;">
                                <div class="row col-md-6 mx-3" style="border: 1px solid #d3d3d3;">
                                    <img class=" mt-2" name="mainimage" th:src="@{/images/드로잉.jpg}" style="width: 110px; height: 90px;
                                    position: relative; left: -15px;">

                                    <!-- 클래스 간략한 정보 -->
                                    <div class="reviewcontent col-8 mt-1 "
                                        style="height: 90px; position: relative; left: -15px;">
                                        <p class="mt-2">이름: 드로잉 ${obj.title} </p>
                                        <p>일자: 2023-05-31 ${obj.classdate}</p>
                                        <p>시간: 15:00 ~ 20:00 <br />
                                        <p>${obj.classstart}~${obj.classend}</p>
                                        <p>난이도 : 입문자 ${obj.classlevel}</p>
                                    </div>
                                </div>

                                <!-- 별점 레이팅 -->
                                <div class="col-md-6">
                                    <fieldset>
                                        <input type="radio" name="rating" value="5" id="rate1"><label
                                            for="rate1">★</label> <input type="radio" name="rating" value="4"
                                            id="rate2"><label for="rate2">★</label> <input type="radio" name="rating"
                                            value="3" id="rate3"><label for="rate3">★</label> <input type="radio"
                                            name="rating" value="2" id="rate4"><label for="rate4">★</label> <input
                                            type="radio" name="rating" value="1" id="rate5"><label for="rate5">★</label>
                                    </fieldset>
                                </div>
                            </div>

                              <!-- 에디터 -->
                            <div class="mt-2">
                                <div>
                                    <div style="margin-top: 10px; background-color: white;">
                                        <div id="editor" name="content" style="height: 300px;"></div>
                                    </div>
                                </div>

                                 <!-- 리뷰 이미지(file) -->
                                <input type="hidden" name="no" value="1" />
                                <!-- <input type="hidden" name="apply.no" /> -->
                                <input class="form-control" type="file" name="files" id="click_reviewimage1"
                                    style="display: none;" onchange="readURL1(this)">
                                <input class="form-control" type="file" name="files" id="click_reviewimage2"
                                    style="display: none;" onchange="readURL2(this)">
                                <input class="form-control" type="file" name="files" id="click_reviewimage3"
                                    style="display: none;" onchange="readURL3(this)">
                                <input class="form-control" type="file" name="files" id="click_reviewimage4"
                                    style="display: none;" onchange="readURL4(this)">

                                <!-- 리뷰 이미지(image) -->
                                <div class="d-flex justify-content-between mt-2" id="labels">
                                    <div><img for="file1" id="insert_reviewimage1" class="d-sm-inline-flex mx-2 mt-2"
                                            style="border: 1px dashed gray; width: 160px; height: 150px;" src=""
                                            onclick="preview1(this)" />
                                    </div>
                                    <div><img for="file1" id="insert_reviewimage2" class="d-sm-inline-flex mx-2 mt-2"
                                            style="border: 1px dashed gray; width: 160px; height: 150px;" src=""
                                            onclick="preview2()" />
                                    </div>
                                    <div><img for="file1" id="insert_reviewimage3" class="d-sm-inline-flex mx-2 mt-2"
                                            style="border: 1px dashed gray; width: 160px; height: 150px;" src=""
                                            onclick="preview3()" />
                                    </div>
                                    <div><img for="file1" id="insert_reviewimage4" class="d-sm-inline-flex mx-2 mt-2"
                                            style="border: 1px dashed gray; width: 160px; height: 150px;" src=""
                                            onclick="preview4()" />
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <input type="button" class="btn btn-none" value="등록하기" style="background-color: #008000;
                               position: relative; left: -250px; width: 250px; height: 70px; font-size: larger; font-weight: bold;
                               color: white;" onclick="getEditorContent()">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- 스크립트 -->
    
    <script th:src="@{/js/quill.js}"></script>
    <script th:src="@{/js/review/insert.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    
</body>
</html>