<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" th:href="@{/css/review/review.css}" />
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}" />
    <title>Document</title>
  </head>
  <body>
    <!-- 리뷰 모달 버튼 -->
    <button
      class="btn btn-sm btn-secondary"
      type="button"
      style="height: 30px; width: 90px"
      data-bs-toggle="modal"
      data-bs-target="#exampleModal"
    >
      리뷰작성
    </button>

    <!-- 리뷰 모달 -->
    <div
      class="modal fade"
      id="exampleModal"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div
            class="modal-header"
            style="background-color: #008000; height: 50px"
          >
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <form
            th:action="@{/review/insert.do}"
            id="myform"
            method="post"
            enctype="multipart/form-data"
          >
            <div class="modal-body">
              <div class="container-fluid">
                <div class="row d-flex flex-nowrap" style="height: 110px">
                  <div
                    class="row col-md-6 mx-3"
                    style="border: 1px solid #d3d3d3"
                  >
                    <img
                      class="mt-2"
                      name="mainimage"
                      th:src="@{/image/도자기.png}"
                      style="
                        width: 110px;
                        height: 90px;
                        position: relative;
                        left: -15px;
                      "
                    />

                    <!-- 클래스 간략한 정보 -->
                    <div
                      class="reviewcontent col-8 mt-1"
                      style="height: 90px; position: relative; left: -15px"
                    >
                      <p class="mt-2">이름: 도자기 슥</p>
                      <p>날짜: 2023-05-31</p>
                      <p>시간: 15:00 ~ 20:00 <br /></p>
                      <p>난이도 : 입문자</p>
                      <p>가격 : 1500원</p>
                    </div>
                  </div>

                  <!-- 별점 레이팅 -->
                  <div class="col-md-6">
                    <fieldset>
                      <input
                        type="radio"
                        name="rating"
                        value="5"
                        id="rate1"
                      /><label for="rate1">★</label>
                      <input
                        type="radio"
                        name="rating"
                        value="4"
                        id="rate2"
                      /><label for="rate2">★</label>
                      <input
                        type="radio"
                        name="rating"
                        value="3"
                        id="rate3"
                      /><label for="rate3">★</label>
                      <input
                        type="radio"
                        name="rating"
                        value="2"
                        id="rate4"
                      /><label for="rate4">★</label>
                      <input
                        type="radio"
                        name="rating"
                        value="1"
                        id="rate5"
                      /><label for="rate5">★</label>
                    </fieldset>
                  </div>
                </div>

                <!-- 리뷰내용 -->
                <div class="mt-2">
                  <div>
                    <div
                      style="
                        margin-top: 10px;
                        background-color: white;
                        border: 1px solid gray;
                      "
                    >
                      <div style="height: 300px"></div>
                    </div>
                  </div>

                  <!-- 리뷰 이미지 슬라이드(image) -->
                  <div
                    class="d-flex justify-content-center mb-4"
                    style="
                      margin-top: 10px;
                      height: 300px;
                      border: 1px solid gray;
                    "
                  >
                    <div
                      id="carouselExampleControls"
                      class="carousel carousel-dark slide"
                      data-bs-ride="true"
                    >
                      <div class="carousel-inner">
                        <div class="carousel-item active">
                          <div>
                            <img
                              th:src="@{/image/서핑.jpg}"
                              class="d-block mt-1"
                              style="height: 290px; width: 500px"
                            />
                          </div>
                        </div>
                        <div class="carousel-item">
                          <div>
                            <img
                              th:src="@{/image/가정.png}"
                              class="d-block mt-1"
                              style="height: 290px; width: 500px"
                            />
                          </div>
                        </div>
                        <div class="carousel-item">
                          <div>
                            <img
                              th:src="@{/image/미술1.png}"
                              class="d-block mt-1"
                              style="height: 290px; width: 500px"
                            />
                          </div>
                        </div>
                      </div>
                      <button
                        class="carousel-control-prev"
                        type="button"
                        data-bs-target="#carouselExampleControls"
                        data-bs-slide="prev"
                      >
                        <span
                          class="carousel-control-prev-icon"
                          aria-hidden="true"
                        ></span>
                        <span class="visually-hidden">Previous</span>
                      </button>
                      <button
                        class="carousel-control-next"
                        type="button"
                        data-bs-target="#carouselExampleControls"
                        data-bs-slide="next"
                      >
                        <span
                          class="carousel-control-next-icon"
                          aria-hidden="true"
                        ></span>
                        <span class="visually-hidden">Next</span>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <!-- 스크립트 -->

    <script th:src="@{/js/quill.js}"></script>
    <script th:src="@{/js/review/insert.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
  </body>
</html>
