<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!--js-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
        crossorigin="anonymous"></script>
    <!-- CSS -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.7/dist/umd/popper.min.js"
        integrity="sha384-zYPOMqeu1DAVkHiLqWBUTcbYfZ8osu1Nd6Z89ify25QV9guujx43ITvfi12/QExE"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.min.js"
        integrity="sha384-Y4oOpwW3duJdCWv5ly8SCFYWqFDsfob/3GkgExXKV4idmbt98QcxXYs9UoXAB7BZ"
        crossorigin="anonymous"></script>
    <style>
       .container{
        padding-top: 80px;
        font-size: 20px;
       }
       .container.title {
        font-size: 30px;
       }
       .btnSave .btnList{
            padding-left: 400px;
        }
    
    </style>
</head>

<body>
    <div class="logo-wrap" style="text-align: center; margin-top: 8%; margin-bottom: 5%;">
        <img class="p-4" th:src="@{/images/logo.svg}" alt="로고 이미지" />
    </div>
    <div class="container">
        제목 <label class=title th:text="${board1.title}" ></label><br/>
        작성자 - <label th:text="${board1.writer}"></label>
        작성일 - <label th:text="${board1.regdate}"></label>
        조회수 - <label th:text="${board1.hit}"></label><br />
        <hr/>
        내용 : <label th:text="${board1.content}"></label><br />
        
       
        
        <hr />
        
    <h3>댓글</h3>
    <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label"></label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="내용을 입력해주세요"></textarea>
        <button type="submit" class="btn btn-lg btn-primary" id="btnSave">입력</button>
        <button type="button" class="btn btn-lg btn-outline-primary" id="btnList" >목록</button>
    </div>
    <div>


    </div>


    <!--댓글목록-->
    <table>
        <thead>
            <tr th:each="tmp : ${board1.list}">
                <td th:text="${tmp.no}"></td>
                <td th:text="${tmp.content}"></td>
                <td th:text="${tmp.writer}"></td>
                <td th:text="${tmp.regdate}"></td>
            </tr>
        </thead>
    </table>
    <hr />

</div>
</body>

</html>