<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
</head>
<body>
    <main th:fragment="selectMapFragment">
        <div class="container">
            <div class="row mb-2">
                <div class="col d-flex">
                    <div class="d-flex">
                        <div class="input-group me-3">
                            <input id="keyword_map" type="search" class="form-control" placeholder="검색어를 입력하세요."
                                aria-label="Text input with dropdown button" onkeyup="if(window.event.keyCode==13){searchClassActionMap()}"/>
                            <button class="btn btn-primary" type="button" onclick="searchClassActionMap()">
                                <i class="fas fa-search fa-sm"></i>
                            </button>
                        </div>
                    </div>
                    <div class="d-flex me-3">
                        <div class="searchhead_map me-3">지역</div>
                        <div>
                            <select class="form-select" aria-label="Default select example" onchange="getLocalcate_map(this.value)">
                            <c:forEach var="obj" items="${list2}">
                                <option value="${obj.code}">${obj.cate}</option>
                            </c:forEach>
                            </select>
                        </div>
                    </div>
                    <div class="d-flex me-3">
                        <div class="searchhead_map me-3">카테고리</div>
                        <div>
                            <select class="form-select" aria-label="Default select example" onchange="getActcate_map(this.value)">
                            <c:forEach var="obj" items="${list1}">
                                <option value="${obj.code}">${obj.cate}</option>
                            </c:forEach>
                            </select>
                        </div>
                    </div>
                    <div class="d-flex">
                        <div class="searchhead_map me-3">날짜</div>
                        <div>
                            <input id="classdate_map" type="search" class="form-control datepicker" placeholder="날짜를 선택하세요">
                        </div>
                    </div>
                    <div class="ms-auto">
                        <button class="btn btn-outline-success" onclick="searchClassActionMap()"><i class="bi bi-search me-2"></i>검색</button>
                        <a href="select.do?search=list">
                            <button class="btn btn-outline-success"><i class="bi bi-card-list me-2"></i>목록 보기</button>
                        </a>
                    </div>
                </div>
            </div>
        
            <hr class="divider">
        </div>
        <div class="container-fluid">
            <div class="row mb-3">
                <div id = "classlist_map" class="col-3" style="height:750px; overflow-y: scroll;">
                    <!-- 동적 생성 -->
                
                    <%-- <c:forEach var="obj" items="${list3}">
                        <a href="product.do?classcode=${obj.classcode}">
                    
                        <div class="card shadow-sm mb-3">
                            <c:if test="${obj.imageNo eq 0}">
                                <img src="${pageContext.request.contextPath}/resources/assets/default.png" width="100%" height="225" focusable="false">
                            </c:if>
                            <c:if test="${obj.imageNo ne 0}">
                                <img src="${pageContext.request.contextPath}/item/image?no=${obj.imageNo}" width="100%" height="225" focusable="false">
                            </c:if>
                                <div class="card-body">
                                    <h4 class="card-text text-center">${obj.title}</h4>
                                    <div>${obj.content}</div>
                                    <p class="card-text">가격 : ${obj.price}</p>
                                    <p class="card-text">주소 : ${obj.address1}</p>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div>
                                            <button class="btn btn-sm btn-outline-secondary">상세 조회</button>
                                            <c:if test = "${sessionScope.UID ne null}">
                                                <button class="btn btn-sm btn-outline-primary" onclick="modalOrder('${obj.no}', '${obj.price}', '${obj.imageNo}' )">물품 주문</button>
                                                </c:if>
                                        </div>
                                    </div>
                                </div>
                        </div>
                    
                    </a>
                    </c:forEach> --%>
        
                </div>
                <div class="col-9">
                    <div id="map" style="width: 100%; height: 750px;"></div>
                </div>
            </div>
        </div>
    </main>
</body>
</html>