<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
</head>

<body>
    <main th:fragment="selectListFragment">
        <!-- 검색 영역 -->

        <section>
            <div class="container">
                <div class="row mb-2">
                    <div class="col d-flex">
                        <div>
                            <div class="input-group">
                                <input id="keyword" type="text" class="form-control" placeholder="검색어를 입력하세요."
                                    aria-label="Text input with dropdown button"
                                    onkeyup="if(window.event.keyCode==13){searchClassAction()}" />
                                <button class="btn btn-primary" type="button" onclick="searchClassAction()">
                                    <i class="fas fa-search fa-sm"></i>
                                </button>
                            </div>
                        </div>
                        <div class="ms-auto">
                            <a href="select.do?search=map">
                                <button class="btn btn-outline-success"><i class="bi bi-map-fill me-2"></i>지도
                                    보기</button>
                            </a>
                        </div>
                    </div>
                </div>

                <hr class="divider">

                <div class="row mb-4">
                    <div class="col-2">
                        <div class="searchhead">지역</div>
                    </div>
                    <div class="col-4">
                        <select id="cityselect" class="form-select" aria-label="Default select example"
                            onchange="getLocalcate(this.value)">
                            <th:block th:each =  "obj : ${list2}">
                                <option value="${obj.code}">${obj.cate}</option>
                            </th:block>
                        </select>
                    </div>
                    <div class="col-2">
                        <div class="searchhead">세부 지역</div>
                    </div>
                    <div class="col-4">
                        <select id="localselect" class="form-select" aria-label="Default select example"
                            onchange="setLocalcate(this.value)">
                            <option value="">전체</option>
                        </select>
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col-2">
                        <div class="searchhead">클래스 카테고리</div>
                    </div>
                    <div class="col-4">
                        <select id="activityselect" class="form-select" aria-label="Default select example"
                            onchange="getClasscate(this.value)">
                            <c:forEach var="obj" items="${list1}">
                                <option value="${obj.code}">${obj.cate}</option>
                            </c:forEach>
                        </select>
                    </div>
                    <div class="col-2">
                        <div class="searchhead">세부 카테고리</div>
                    </div>
                    <div class="col-4">
                        <select id="actdetailselect" class="form-select" aria-label="Default select example"
                            onchange="setActcate(this.value)">
                            <option>전체</option>
                        </select>
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col-2">
                        <div class="searchhead">날짜</div>
                    </div>
                    <div class="col-4">
                        <div>
                            <input id="classdate" class="form-control datepicker" placeholder="날짜를 선택하세요">
                        </div>
                    </div>
                    <div class="col-2" style="display:none;">시간</div>
                    <div class="col-4"></div>
                </div>
                <div class="row mb-4">
                    <div class="col-2">
                        <div class="searchhead">난이도</div>
                    </div>
                    <div class="col-4">
                        <div>
                            <button class="levelchk btn btn-outline-success" value="1">입문자</button>
                            <button class="levelchk btn btn-outline-success" value="2">경험자</button>
                            <button class="levelchk btn btn-outline-success" value="3">숙련자</button>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="searchhead">가격</div>
                    </div>
                    <div class="col-2">
                        <input id="minprice" class="form-control" type="number" placeholder="최소 가격" />
                    </div>
                    <div class="col-2">
                        <input id="maxprice" class="form-control" type="number" placeholder="최대 가격" />
                    </div>
                </div>

                <div class="row mb-3 ">
                    <div class="text-center">
                        <button class="btn btn-outline-success" onclick="resetSearchOption()"><i
                                class="bi bi-arrow-clockwise me-2"></i>검색 조건 초기화</button>
                        <button class="btn btn-outline-primary" type="button" onclick="searchClassAction()"><i
                                class="bi bi-search me-2"></i>검색</button>
                    </div>
                </div>

                <hr class="divider">
            </div>
        </section>

        <!-- 리스트 영역 -->
        <section>
            <div class="container">
                <div id="classlist" class="row row-cols-3 g-3 mb-3">
                    <!-- 동적 생성 -->
                </div>
            </div>
        </section>
    </main>
</body>

</html>