<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.mapper.ClassSelectMapper">

    <!-- 1. 클래스 조회
    <select id="selectClassUnitViewList" parameterType="map" resultType="ClassUnitView">
        <script>
		SELECT s.* FROM classsessionview s
		<trim prefix='WHERE' prefixOverrides='AND || OR '>
            <if test = 'map.citycode != 0' >
                citycode = #{map.citycode}
            </if>
            <if test = 'map.localcode != 0'>
                AND localcode = #{map.localcode}
            </if>
		    <if test = 'map.activitycode != 0'>
			    AND activitycode = #{map.activitycode}
		    </if>
            <if test = 'map.actcode != 0'>
                AND actdetailcode = #{map.actdetailcode}
            </if>
            <if test = 'map.classdate != null'>
                AND classdate = #{map.classdate}
            </if>
            <if test = 'map.classlevel != 0'>
                AND classlevel = #{map.classlevel}
            </if>
            <if test = 'map.minprice != 0'>
                AND totalprice <![CDATA[ > ]]> #{map.minprice}
            </if>
            <if test = 'map.maxprice != 0'>
                AND totalprice <![CDATA[ < ]]> #{map.maxprice}
            </if>
		    <if test = 'map.keyword != null'>
			    AND (title || intro || citycate || localcate || actdetailcate || activitycate) LIKE '%' ||  #{map.keyword} || '%'
		    </if>
		</trim>
		AND chk = 1
		ORDER BY s.classcode DESC
		</script>
    </select> -->

    <!-- 2. 지역 상위 분류 조회 -->
    <select id="selectCityCateList" resultType="CityCate">
        SELECT c.* FROM citycate c ORDER BY c.code ASC
    </select>

    <!-- 3. 지역 하위 분류 조회 -->
    <select id="selectLocalCateList" parameterType="int" resultType="LocalCate">
        SELECT l.* FROM localcate l WHERE citycode = #{citycode} ORDER BY l.code ASC
    </select>

    <!-- 4. 클래스 상위 분류 조회 -->
    <select id="selectActivityCateList" resultType="ActivityCate">
        SELECT a.* FROM activitycate a ORDER BY a.code ASC
    </select>

    <!-- 5. 클래스 하위 분류 조회 -->
    <select id="selectActDetailCateList" parameterType="int" resultType="ActDetailCate">
        SELECT a.* FROM actdetailcate a WHERE actcode = #{actcode} ORDER BY a.code ASC
    </select>

</mapper>