<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.mapper.ClassUnitMapper">

<!--(1) ClassUnit 등록-->
<insert id="insertUnitOne" parameterType="ClassUnit">
    INSERT INTO CLASSUNIT(MINIMUM, MAXIMUM, CLASSDATE, CLASSDAY, CLASSSTART, CLASSEND, DISCOUNT, ADDPRICE, CLASSLEVEL, CLASSCODE) 
    VALUES(#{minimum}, #{maximum}, #{classdate}, #{classday}, #{classstart}, #{classend}, #{discount}, #{addprice}, #{classlevel}, #{classcode})
</insert>

<!--(1-1) ClassProduct 가격 조회(Unit 등록 시, 추가 금액 설정에 필요) -->
<select id="selectPriceOne" parameterType="long" resultType="long">
    SELECT PRICE FROM CLASSPRODUCT WHERE CLASSCODE = #{classcode}
</select>

<!--(2) ClassUnit 전체 조회-->
<select id="selectUnitList" parameterType="long" resultType="ClassUnit">
    SELECT * FROM CLASSUNIT WHERE CLASSCODE = #{classcode} ORDER BY REGDATE DESC
</select>

<!--(2-1) ClassUnit 하나 조회-->
<select id="selectUnitOne" parameterType="ClassUnit" resultType="ClassUnit">
    SELECT * FROM CLASSUNIT WHERE CLASSCODE = #{classcode} AND NO = #{no}
</select>

<!--(3) ClassUnit 수정-->
<update id="updateUnitOne" parameterType="ClassUnit">
    UPDATE CLASSUNIT SET MINIMUM = #{minimum}, MAXIMUM = #{maximum}, CLASSDATE = #{classdate}, CLASSDAY = #{classday}, CLASSSTART = #{classstart}, 
    CLASSEND = #{classend}, DISCOUNT = #{discount}, ADDPRICE = #{addprice}, CLASSLEVEL = #{classlevel} WHERE NO = #{no} AND CLASSCODE = #{classcode}
</update>

<!--(4) ClassUnit 삭제-->
<update id="updateUnitOneInactive" parameterType="long">
    UPDATE CLASSUNIT SET chk = 0 WHERE no = #{no};
</update>

<!--(4-1) ClassUnit 일괄 삭제-->
<update id="updateUnitBatchInactive" parameterType="map">
    UPDATE CLASSUNIT SET chk = 0 WHERE CLASSCODE = #{classcode} AND NO IN(
        <foreach collection='chk' item='tmp' separator=','>
            #{tmp}
        </foreach>)
</update>

<!--(5) ClassUnitView 하나 조회-->
<select id="selectClassUnitViewOne" parameterType="long" resultType="ClassUnitView">
    SELECT u.* FROM classunitview u WHERE no = #{unitno}
</select>

<!--(6) ClassUnitView 목록 조회-->
<select id="selectClassUnitViewList" parameterType="list" resultType="ClassUnitView">
    SELECT u.* FROM classunitview u WHERE no IN (
        <foreach collection="unitnoList" item="tmp" separator=" , ">
                #{tmp}
        </foreach>
    )
</select>



</mapper>
