<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.mapper.ReviewMapper">

<insert id="insertReviewOne" parameterType="Review">
    INSERT INTO REVIEW (NO, CONTENT, RATING) VALUES(#{no}, #{content}, #{rating})
</insert>

<delete id="deleteReviewOne" parameterType="long">
    DELETE FROM REVIEW WHERE no = {no}
</delete>

</mapper>