<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-latest.js"></script>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <!--CSS-->
    <!-- <link rel="stylesheet" th:href="@{/css/main.css}"> -->
    <link rel="stylesheet" th:href="@{/css/basket/basket.css}">
</head>
<style>
</style>

<body>
    <h3>장바구니</h3>
    <section class="cart">
        <div class="cart__information">
            <input type="hidden" value="${login.userid}" id="login_userid">
            <ul>
                <li>장바구니 상품은 최대 30일간 저장됩니다.</li>
                <li>장바구니에서 확인해야하는 정보로 추후 수정</li>
            </ul>
        </div>
        <table class="cart__list">
            <form>
                <thead style="background-color: gainsboro;">
                    <tr>
                        <td></td>
                        <td>번호</td>
                        <td>인원수</td>
                        <td>클래스 신청 정보</td>
                        <td>결제 금액</td>
                    </tr>
                </thead>
                <tbody>
                    <tr class="cart__list__detail" th:each="obj : ${list}">
                        <td><input type="checkbox" name="Chk_list" ></td>
                        <td th:text="${obj.no}" id="unit_no" name="unit_no" >1</td>
                        <td th:text="${obj.cnt}" id="cnt"></td>
                        <td >
                            <a th:text="${obj.member.id}" href="#">수영 클래스</a>
                            <p th:text="${obj.classunit.classdate}"></p>
                            <p th:text="${obj.classunit.classstart}"></p>
                            <p th:text="${obj.classunit.classend}"></p>
                            <p th:text="${obj.classunit.classlevel}"></p>
                            <h7 th:text="${obj.classunit.addprice}" id="price"></h7><br />
                            <button type="submit" >옵션 수정</button>
                        </td>
                        <td >
                            <input class="text" id="result" value="" readonly="readonly"></span><br>
                        </td>
                    </tr>

                    <tr class="cart__list__detail2">
                        <td><input type="checkbox" name="Chk_list"></td>
                        <td id="unit_no">2</td>
                        <td><img class="image1" th:src="@{/도지.png}"></td>
                        <!-- <td><img src="/도지.png" alt="클래스 썸네일"></td> -->
                        <td>
                            <a href="#">수영 클래스</a>
                            <p>일자: 2023-05-05</p>
                            <p>시간: 18:00 ~ 20:00</p>
                            <p>난이도 : 입문자</p>
                            <h7>명당 가격 : 15,000</h7><br />
                            <button type="submit" >옵션 수정</button>
                        </td>
                        <td>
                            <span class="price">15,000원</span><br>
                        </td>
                    </tr>

                    
                    <tr class="cart__list__detail3">
                        <td>총합금액</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>
                            <span class="price">30,000원</span><br>
                        </td>
                    </tr>
                    

                    <td colspan="3">
                        <button class="cart__list__optionbtn" type="button" id="delBtn">선택상품 삭제</button>
                        <button class="openBtn" type="button">옵션수정</button>
                        <div class="modal hidden">
                            <div class="bg"></div>
                            <div class="modalBox">
                                    <p>수영 클래스</p>
                                    <p>일자: 2023-05-05</p>
                                    <p>시간: 18:00 ~ 20:00</p>
                                    <p>난이도 : 입문자</p>
                                    <p>신청 인원: 1명</p><hr />
                                    <p>가격: 15000</p>
                                <button class="closeBtn">수정</button>
                            </div>
                        </div>
                    </td>
                    
                    <td></td>
                    </tr>
                    </tfoot>
            </form>
        </table>
        <div class="cart__mainbtns">
            <button class="cart__bigorderbtn left" type="submit">쇼핑 계속하기</button>
            <input type="button" class="cart__bigorderbtn right" onclick="location.href='*/apply/insert.do';" value="결제화면으로" />
        </div>
    </section>
</body>

<script type="text/javascript">

    // jQuery(document).ready(function () {
    //     $('#myModal').show();
    // });
    // //팝업 Close 기능
    // function close_pop(flag) {
    //     $('#myModal').hide();
    // };

    // const open = () => {
    // document.querySelector(".modal").classList.remove("hidden");
    // }

    // const close = () => {
    // document.querySelector(".modal").classList.add("hidden");
    // }

    // document.querySelector(".openBtn").addEventListener("click", open);
    // document.querySelector(".closeBtn").addEventListener("click", close);
    // document.querySelector(".bg").addEventListener("click", close);

    /////합
    
    var num = document.getElementById('num');
    num.addEventListener('change', function () {
        var result = document.getElementById('result');
        var price = document.getElementById('price');
        var cnt = document.getElementById('cnt')
        result.value = Number(price.value) * Number(cnt.value) * Number(this.value);
    });


    // 체크박스 선택해서 삭제하는 기능
    // $('#delBtn').click(function() {
    //     if($("input:checkbox[name='Chk_list']:checked").length === 0) {
    //         alert("삭제할 항목을 선택해 주세요.");
    //         return;
    //     }

    //     $("input:checkbox[name='Chk_list']:checked").each(function(k,kVal){
    //         console.log("kVal ::", kVal.parentElement.parentElement.parentElement);
    //         let a = kVal.parentElement.parentElement.parentElement;
    //         $(a).remove();
    //     });
    // });

</script>


</html>