<div th:fragment="menu_1" class="col-9" style="min-height: 100vh;">

    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script>
        /* 카드 드롭다운 버튼 함수 */
        function showDropdown(classcode) {
            if (classcode === 1) {
                document.getElementById("myDropdown1").classList.toggle("show");
            }
            else if (classcode === 2) {
                document.getElementById("myDropdown2").classList.toggle("show");
            }
            else if (classcode === 3) {
                document.getElementById("myDropdown3").classList.toggle("show");
            }

        }

        // Close the dropdown if the user clicks outside of it
        window.onclick = function (event) {
            if (!event.target.matches('.dropbtn')) {
                var dropdowns = document.getElementsByClassName("dropdown-content");
                var i;
                for (i = 0; i < dropdowns.length; i++) {
                    var openDropdown = dropdowns[i];
                    if (openDropdown.classList.contains('show')) {
                        openDropdown.classList.remove('show');
                    }
                }
            }
        }
    </script>

    <style>
        .icons img {
            height: 20px;
            width: 20px;
            margin-top: 0.5px;
            vertical-align: top;
            pointer-events: none;
            cursor: pointer;
        }

        .dropbtn {
            cursor: pointer;
        }

        .dropbtn:hover img {
            transform: scale(1.12);
        }

        .dropdown-content {
            display: none;
            position: relative;
            background-color: rgb(255, 255, 255);
            min-width: 130px;
            overflow: auto;
            box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
            z-index: 1;
            border-radius: 8%;
        }

        .dropdown-content a {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
        }

        .dropdown a:hover {
            background-color: #f1f1f1;
        }

        .show {
            display: block;
        }

        .noact {
            float: right;
            font-size: 13px;
            color: dimgray;
            margin-top: 5px;
        }

        .noact:hover {
            color: black;
        }

        /* .btn{
            background-color: rgb(242, 250, 249);
            color: black;
        } */
    </style>

    <div class="container">
        <div class="m-3"
            style="border-bottom:2px dotted #bcbcbc; min-height: 40px; font-size: large; font-weight: bold;">클래스 조회
        </div>
        
        <th:block th:each="obj : ${list}">
                <div class="row m-1">
                <div class="col-4">
                    <div class="card shadow-sm">
                        <div class="card">
                            <div class="card-header" style="display: inline-block;">
                                <div style="float: left; width: 90%; height:auto;"><a style="width: 20%;">
                                        <span>등록일자 :</span> 
                                        <!-- <input name="date" th:value="${obj.regdate}" readonly /> -->
                                        <div th:text="${#dates.format(obj.regdate, 'yyyy.MM.dd HH:mm:ss')}"></div>
                                        </a></div>
                                <div class="dropdown" style=" float: left; width: 10%; height: 25px;">
                                    <!-- three dots -->
                                    <div class="dropbtn icons btn-right" onclick="showDropdown(1)">
                                        <img th:src="@{/image/icon-zoom.png}" width="24" alt="더보기">
                                    </div>
                                    <!-- menu -->
                                    <div id="myDropdown1" class="dropdown-content">
                                        <a class="btn" id="imput_btn" th:href="@{/classunit/insert.do( classcode=${obj.classcode} )}">일정 등록</a>
                                        <a class="btn" id="modify_btn" th:href="@{/member/update.do( classcode=${obj.classcode} )}">수정</a>
                                        <a class="btn" id="delete_btn" th:href="@{/member/delete.do(classcode=${obj.classcode} )}"  onclick="deletePost();">삭제</a>
                                    </div>
                                </div>
                            </div>

                            <img th:src="@{/class/image(no=${obj.mainImg})}" style="width: 100%; height: 200px; background-color: darkgray;" />
                            <div class="card-body">
                                <p class="card-title" style="font-weight: bold; font-size: large;" th:text="${obj.title}"></p>
                                상호명 : <p class="card-nickname" style="font-weight: normal; font-size: medium; float: right;" th:text="${obj.nickname}"></p>
                                <!-- <p class="card-text" style="font-weight: normal; font-size: medium;" th:utext="${obj.intro}"></p> -->
                                <a th:href="@{/class/product.do(classcode=${obj.classcode} )}" class="btn btn-sm btn-success" style="width: 100%;">클래스 상세보기</a>
                                <a href="#" onclick="alert('비활성화 하시겠습니까?')" name="noact" class="noact">비활성화</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </th:block>

    </div>
</div>

<script>
/* 삭제 버튼 */
    function deletePost(){
        if( !confirm('삭제하시겠습니까?') ){
            return false;
        }else{
            document.getElementById('deleteForm').submit();
        }
    }
/*------------------------------------------------*/
    function click(noact) {
        if( result == true) {
            alert('비활성화 되었습니다.');
        }
        else{
            alert('활성화 상태입니다.');
        }
    }


//---------------------------------------------------- 
    let form = $("#infoForm");

    $("#input_btn").on("click", function (e) {
        form.find("#bno").remove();
        form.attr("action", "/member/unit/insert");
        form.submit();
    });

    $("#modify_btn").on("click", function (e) {
        form.attr("action", "/class/modify");
        form.submit();
    });

    $("#delete_btn").on("click", function (e) {
        form.attr("action", "/class/delete");
        form.submit();
    });	
</script>