<div th:fragment="menu_review" class="col-md-8" style="margin-left: 30px;">
  <!--********************************************************************************************************************************************************************-->
  <!--********************************************************************** 1. 통계 박스 ********************************************************************************-->
  <!--********************************************************************************************************************************************************************-->

  <head>
    <link rel="stylesheet" th:href="@{/css/review/reviewlist.css}" />

  </head>
  <style>
    .box {
      width: 80%;
      height: 150px;
      background: #FFF;
      border-radius: 15px;
      margin: 20px;

    }

    .box h3 {
      padding-top: 10px;
      text-align: center;
      font-weight: bold;
      font-size: large;
    }

    .box h1 {
      padding-top: 12px;
      text-align: center;
      font-size: 50px
    }

    .effect {
      -webkit-box-shadow: 0 5px 6px -6px #777;
      -moz-box-shadow: 0 5px 6px -6px #777;
      box-shadow: 0 5px 6px -6px #777;
    }

    .title {
      text-decoration: none;
      color: black;
    }

    .title:link {
      text-decoration: none;
      color: black;
    }

    .title:visited {
      text-decoration: none;
      color: black;
    }

    .title:hover {
      text-decoration: underline;
      color: blue;
    }

    .title:active {
      text-decoration: underline;
      color: blue;
    }

    .content1 {
      width: 150px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      font-size: smaller;

    }
  </style>
  <div class="row-md-3">
    <p style="font-weight: bolder; font-size: large;">리뷰내역</p>
    <div class="row" style="background-color: honeydew; border-radius: 15px;">
      <div class="col-sm-4">
        <div class="box effect">
          <h3>작성수</h3>
          <h1>1</h1>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="box effect">
          <h3>좋아요수</h3>
          <h1>7</h1>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="box effect">
          <h3>평균별점</h3>
          <h1>4.0</h1>
          <a style="color: darkgreen; margin-left: 65px;">★★★★☆</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row-md-9" style="margin-top: 50px;">
    <hr />
    <div style="display: inline-block; margin-top: 40px; width: 100%;">
      <div style="float: left; font-weight: bold;">| 리뷰 작성 내역</div>
      <div style="float: right;">
        <div class="btn-group" role="group" style="margin-bottom: 10px;">
          <button type="button" class="btn btn-outline-secondary btn-sm dropdown-toggle float-right"
            data-bs-toggle="dropdown" aria-expanded="false">참여일자순</button>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">최신순</a></li>
            <li><a class="dropdown-item" href="#">오래된순</a></li>
          </ul>
        </div>
      </div>
    </div>

    <!--*****************************************************************************************************************************************************************-->
    <!--********************************************************************** 2. 테이블 ********************************************************************************-->
    <!--*****************************************************************************************************************************************************************-->
    <style>
      .center {
        text-align: center;
      }
    </style>

    <table class="table table-bordered center">
      <thead>
        <tr style="background-color: floralwhite;">
          <th>No.</th>
          <th>참여일자</th>
          <th>클래스정보</th>
          <th>작성내용</th>
          <th>별점</th>
        </tr>
      </thead>
      <tbody style="vertical-align: middle;">
        <tr th:each="obj : ${list1}">
          <td th:text="|&nbsp;&nbsp;&nbsp;${obj.no}&nbsp;&nbsp;&nbsp;|"></td>
          <td>
            <p th:text="${#dates.format(obj.regdate,'yyyy.MM.dd')}"></p>
            <button class="btn btn-sm btn-outline-primary" style="height: 30px; width: 90px;" data-bs-toggle="modal"
              data-bs-target="#exampleModal">리뷰보기</button>
          <td>
            <img th:src="@{/member/image(classcode=${obj.classcode})}" style=" width: 100px; height: 100px;">
            <a class="title" href="#">
              <p class="mt-1" th:text="'['+ ${obj.title} +']'" </p> style="margin-top: 10px;"></p>
            </a>
          </td>
          <td>
            <div th:text="|&nbsp;&nbsp;&nbsp;&nbsp;${obj.content}|" class="area content1">
              <div>
          </td>
          <td th:if="${obj.rating} == 1" style="color: darkgreen;">★</td>
          <td th:if="${obj.rating} == 2" style="color: darkgreen;">★★</td>
          <td th:if="${obj.rating} == 3" style="color: darkgreen;">★★★</td>
          <td th:if="${obj.rating} == 4" style="color: darkgreen;">★★★★</td>
          <td th:if="${obj.rating} == 5" style="color: darkgreen;">★★★★★</td>

          <form action=""> <input type="hidden" name="pages1" th:value="${pages1}"></form>
        </tr>
      </tbody>

    </table>

    <ul id="pagination-demo1" class="col pagination" style="position: relative; left: 280px;"></ul>
    <div class="page">
      <!-- <th:block th:each="num : ${#numbers.sequence(1,pages1)}">
                <a th:href="@{/member/mypage.do(menu=2,page=${num})}" th:text="${num}"></a>
            </th:block> -->

    </div>

    <!-- 리뷰 모달 -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header" style="background-color: #008000; height: 50px">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <form th:action="@{/review/insert.do}" id="myform" method="post" enctype="multipart/form-data">
            <div class="modal-body">
              <div class="container-fluid">
                <div class="row d-flex flex-nowrap" style="height: 110px">
                  <div class="row col-md-6 mx-3" style="border: 1px solid #d3d3d3">
                    <img class="mt-2" name="mainimage" th:src="@{/image/도자기.png}" style="
                        width: 110px;
                        height: 90px;
                        position: relative;
                        left: -15px;
                      " />

                    <!-- 클래스 간략한 정보 -->
                    <div class="reviewcontent col-8 mt-1" style="height: 90px; position: relative; left: -15px">
                      <p class="mt-2">이름: 도자기 슥</p>
                      <p>날짜: 2023-05-31</p>
                      <p>시간: 15:00 ~ 20:00 <br /></p>
                      <p>난이도 : 입문자</p>
                      <p>가격 : 1500원</p>
                    </div>
                  </div>

                  <!-- 별점 레이팅 -->
                  <div class="col-md-6">
                    <fieldset>
                      <input type="radio" name="rating" value="5" id="rate1" /><label for="rate1">★</label>
                      <input type="radio" name="rating" value="4" id="rate2" /><label for="rate2">★</label>
                      <input type="radio" name="rating" value="3" id="rate3" /><label for="rate3">★</label>
                      <input type="radio" name="rating" value="2" id="rate4" /><label for="rate4">★</label>
                      <input type="radio" name="rating" value="1" id="rate5" /><label for="rate5">★</label>
                    </fieldset>
                  </div>
                </div>

                <!-- 리뷰내용 -->
                <div class="mt-2">
                  <div>
                    <div style="
                        margin-top: 10px;
                        background-color: white;
                        border: 1px solid gray;
                      ">
                      <div style="height: 300px"></div>
                    </div>
                  </div>

                  <!-- 리뷰 이미지 슬라이드(image) -->
                  <div class="d-flex justify-content-center mb-4" style="
                      margin-top: 10px;
                      height: 300px;
                      border: 1px solid gray;
                    ">
                    <div id="carouselExampleControls" class="carousel carousel-dark slide" data-bs-ride="true">
                      <div class="carousel-inner">
                        <div class="carousel-item active">
                          <div>
                            <img th:src="@{/image/서핑.jpg}" class="d-block mt-1" style="height: 290px; width: 500px" />
                          </div>
                        </div>
                        <div class="carousel-item">
                          <div>
                            <img th:src="@{/image/가정.png}" class="d-block mt-1" style="height: 290px; width: 500px" />
                          </div>
                        </div>
                        <div class="carousel-item">
                          <div>
                            <img th:src="@{/image/미술1.png}" class="d-block mt-1" style="height: 290px; width: 500px" />
                          </div>
                        </div>
                      </div>
                      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                      </button>
                      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>

    </div>
  </div>
</div>