<div th:fragment="menu_unitmanage" style="margin-top: 30px;">
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/fullcalendar@5.7.0/main.min.js"></script>
    <!-- full calendar -->
    <script th:src=@{/js/classunit/index.global.js}></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.10.1/main.css">
    <!-- fullcalendar 언어 설정관련 script -->
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.10.1/locales-all.js"></script>
    <!-- jquery -->
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- bootstrap4 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <!-- css -->
    <link rel="stylesheet" th:href="@{/css/jquery-ui.min.css}">
    <link rel="stylesheet" th:href="@{/css/classunit/menu_unitmanage.css}">

    <style>
        body {
          padding: 0;
          font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
          font-size: 14px;
        }
      
        #calendar {
          max-width: 1100px;
          margin: 0 auto;
        }
    </style>
    
    <div class="row">
        <div class="col-md-9">
            <div id='calendar'>
                *개설강의에 대한 상세일정을 등록해주세요.
            </div>
        </div>
        <div class="col-md-3">
            <div>

            </div>
        </div>
    </div>


    <!-- 일정 추가 modal -->
    <div class="modal fade" id="calendarModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">클래스 일정을 입력하세요.</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="border: none; background-color: white; font-size: xx-large;">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                
                <div class="modal-body">
                    <input type="hidden" id="classcode" th:value="${classcode}">
                    <div class="form-group" style="display: inline-block;">
                        <div class="row">
                            <div class="col-sm-3" style="width: 50%;">
                                <label for="minimum" class="col-form-label">최소인원</label>
                                <input type="number" class="form-control" id="minimum" name="minimum">
                            </div>
                            <div class="col-sm-3" style="width: 50%;">
                                <label for="maximum" class="col-form-label">최대인원</label>
                                <input type="number" class="form-control" id="maximum" name="maximum">
                            </div>   
                        </div>

                        <div class="row">
                            <div class="col-sm-3" style="width: 50%;">
                                <label for="classdate" class="col-form-label">날짜</label>
                                <input class="form-control datepicker date" id="classdate" name="classdate">
                            </div>

                            <input type="hidden" name="classday" id="classday">

                            <!-- <div class="col-sm-3" style="width: 50%;">
                                <label for="calendar_end_date" class="col-form-label">종료 날짜</label>
                                <input class="form-control datepicker date" id="calendar_end_date" name="calendar_end_date">
                            </div>    -->
                        </div>

                        <div class="row">
                            <div class="col-sm-3" style="width: 50%;">
                                <label for="classstart" class="col-form-label">시작 시각</label>
                                <input type="time" class="form-control" id="classstart" name="classstart">
                            </div>
                            <div class="col-sm-3" style="width: 50%;">
                                <label for="classend" class="col-form-label">종료 시각</label>
                                <input type="time" class="form-control" id="classend" name="classend">
                            </div>   
                        </div>

                        
                        <div class="col">
                            <label style="font-size: small; margin-top: 20px;">* 클래스 난이도와 수강금액에 변동이있을 시 작성해주세요.</label><br />
                            <div class="form-check form-check-inline" style="margin-top: 10px;">
                                <input type="radio" class="form-check-input radio-value level-value-detail" id="classlevel1" name="classlevel"  value="1" checked>
                                <label class="form-check-label" for="classlevel1">입문자</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input type="radio" class="form-check-input radio-value level-value-detail" id="classlevel2" name="classlevel"  value="2">
                                <label class="form-check-label" for="classlevel2">경험자</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input type="radio" class="form-check-input radio-value level-value-detail" id="classlevel3" name="classlevel"  value="3">
                                <label class="form-check-label" for="classlevel3">숙련자</label>
                            </div>                    
                        </div>

                        <div class="row">
                            <div class="col-sm-3" style="width: 50%;">
                                <label for="default_price" class="col-form-label">입문자 수강금액</label>
                                <input type="number" class="form-control" id="default_price" name="default_price" value="15000" disabled readonly>
                            </div>
                            <div class="col-sm-3" style="width: 50%;">
                                <label for="addprice" class="col-form-label">추가 금액</label>
                                <input type="number" class="form-control" id="addprice" name="addprice" value="" disabled>
                            </div>   
                        </div>

                        <div class="row">
                            <div class="col-sm-3" style="width: 50%;">
                                <input type="checkbox" class="form-check-input" id="discount-chk" name="discount-chk" onchange="toggleDiscountInput()" style="margin-top: 10px;">
                                <label for="discount" class="col-form-label" style="margin-left: 5px;">할인 비율 설정(%)</label>
                                <input type="number" class="form-control" id="discount" name="discount" value="" disabled>
                            </div>
                            <div class="col-sm-3" style="width: 50%;">
                                <label for="discount_price" class="col-form-label">할인된 금액</label>
                            <input type="number" class="form-control" id="discount_price" name="discount_price" value="" readonly>
                            </div>   
                        </div>
                    </div>
                </div>
                
                
                <div class="modal-footer">
                    <input type="button" value="추가" class="btn btn-warning" id="addCalendar" onclick="add()">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="cancel()">취소</button>
                    <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">취소</button> -->
                </div>
            </div>
        </div>
    </div>

    <script th:src="@{/js/jquery-3.6.4.min.js}"></script>
    <script th:src="@{/js/jquery-ui.min.js}"></script>
    <script th:src="@{/js/classunit/menu_unitmanage.js}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.3.5/axios.min.js"></script>
    <script type="text/javascript" th:inline="javascript">
        document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {
            initialView : 'dayGridMonth', // 초기 로드 될때 보이는 캘린더 화면(기본 설정: 달)
            headerToolbar : { // 헤더에 표시할 툴 바
                start : 'prev next today',
                center : 'title',
                 end : 'addEventButton'
            },
            customButtons: {
                    addEventButton: { // 추가한 버튼 설정
                        text : "일정 추가",  // 버튼 내용
                        click : function(){ // 버튼 클릭 시 이벤트 추가
                            $("#calendarModal").modal("show"); // modal 나타내기

                            $("#addCalendar").on("click",function(){  // modal의 추가 버튼 클릭 시
                                var content = $("#calendar_content").val();
                                var start_date = $("#calendar_start_date").val();
                                var end_date = $("#calendar_end_date").val();
                                
                                //내용 입력 여부 확인
                                // if(content == null || content == ""){
                                //     alert("내용을 입력하세요.");
                                // }else if(start_date == "" || end_date ==""){
                                //     alert("날짜를 입력하세요.");
                                // }else if(new Date(end_date)- new Date(start_date) < 0){ // date 타입으로 변경 후 확인
                                //     alert("종료일이 시작일보다 먼저입니다.");
                                // }else{ // 정상적인 입력 시
                                //     var obj = {
                                //         "title" : content,
                                //         "start" : start_date,
                                //         "end" : end_date
                                //     }//전송할 객체 생성

                                //     console.log(obj); //서버로 해당 객체를 전달해서 DB 연동 가능
                                // }
                            });
                        }
                    }
            },
            titleFormat : function(date) {
                return date.date.year + '년 ' + (parseInt(date.date.month) + 1) + '월';
            },
            //initialDate: '2021-07-15', // 초기 날짜 설정 (설정하지 않으면 오늘 날짜가 보임)
            selectable : true, // 달력 일자 드래그 설정가능
            droppable : true,
            editable : false,  // false로 변경 시 draggable 작동 x ,
            displayEventTime: false, // 시간 표시 x
            nowIndicator: true, // 현재 시간 마크
            locale: 'ko', // 한국어 설정
            events:[ // 일정 데이터 추가 , DB의 event를 가져오려면 JSON 형식으로 변환해 events에 넣어줘야함.
                    {
                        title:'일정',
                        start:'2023-06-01 00:00:00',
                        end:'2023-06-03 24:00:00'
                    }
                ]
            });
            calendar.render();
        });
        
        
        function cancel() {
            $("#calendarModal").modal("hide"); 
        }
        
        
        async function add(){
            const classcode = document.getElementById("classcode").value;
            const min = document.getElementById("minimum").value;
            const max = document.getElementById("maximum").value;
            const date = document.getElementById("classdate").value;
            const day = document.getElementById("classday").value;
            const start = document.getElementById("classstart").value;
            const end = document.getElementById("classend").value;
            var level = document.querySelector('input[name="classlevel"]:checked').value;
            const discount = document.getElementById("discount").value;
            const addprice = document.getElementById("addprice").value;            
            
            // POST호출
            const url = /*[[@{/api/classunit/insert.json}]]*/"";
            const headers = {"Content-Type":"application/json"};
            const body = { classproduct:{classcode:classcode}, minimum : min, maximum : max, classdate : date, classday : day, classstart : start, classend : end, classlevel : level, discount : discount, addprice : addprice };
            const { data } = await axios.post(url, body, { headers:headers });
            console.log('반환되는 결과', data);
        }

        
        // 할인 금액 계산
        function calculateDiscount() {
            var defaultPrice = 15000; 
            var discount = document.getElementById("discount").value;
            var addprice = document.getElementById("addprice").value;
            var discountPrice = Math.round(defaultPrice + parseInt(addprice)) * (100 - parseInt(discount)) / 100;

            // 할인된 금액을 discount_price input 요소에 업데이트
            document.getElementById("discount_price").value = discountPrice;
        }
        document.getElementById("discount").addEventListener("change", calculateDiscount);

        // 할일 비율 설정시 체크 후 입력란 활성화
        function toggleDiscountInput() {
            var discountCheckbox = document.getElementById("discount-chk");
            var discountInput = document.getElementById("discount");
            var discountPriceInput = document.getElementById("discount_price");

            if (discountCheckbox.checked) {
                discountInput.disabled = false;
                discountInput.value = "";
                discountPriceInput.value = "";
            } else {
                discountInput.disabled = true;
                discountInput.value = "";
                discountPriceInput.value = "";
            }
        }


        // 클래스 난이도별 추가 금액 입력란 활성화
        var radioBtns = document.querySelectorAll('.radio-value');

        function handleRadioClick() {
            var addpriceInput = document.getElementById('addprice');
            var level = document.querySelector('input[name="classlevel"]:checked').value;
            addpriceInput.disabled = !(level === '2' || level === '3');
        }

        radioBtns.forEach(function(radioBtn) {
            radioBtn.addEventListener('click', handleRadioClick);
        });
    </script>


    

</div>



