<div th:fragment="menu_unitmanage" style="margin-top: 30px;">
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/fullcalendar@5.7.0/main.min.js"></script>
    <!-- full calendar -->
    <script th:src=@{/js/unitclass/index.global.js}></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.10.1/main.css">
    <!-- fullcalendar 언어 설정관련 script -->
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.10.1/locales-all.js"></script>
    <!-- jquery -->
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- bootstrap4 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <style>
        body {
          padding: 0;
          font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
          font-size: 14px;
        }
      
        #calendar {
          max-width: 1100px;
          margin: 0 auto;
        }
    </style>
    
    <div class="row">
        <div class="col-md-9">
            <div id='calendar'>
                *개설강의에 대한 상세일정을 등록해주세요.
            </div>
        </div>
        <div class="col-md-3">
            <div>
                <!-- <button class="btn" style="background-color: rgb(165, 219, 143); color: white;">일정 등록하기</button>
                <button class="btn" style="background-color: rgb(43, 161, 88); color: white;">전체일정 조회하기</button><br />
                <div style="margin-left: 30px; height: 100%; padding: 10px; border: 1px solid rgb(199, 196, 196);"></div> -->
            </div>
        </div>
    </div>


    <!-- 일정 추가 modal -->
    <div class="modal fade" id="calendarModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">클래스 일정을 입력하세요.</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="border: none; background-color: white; font-size: xx-large;">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                
                <div class="modal-body">
                    <div class="form-group" style="display: inline-block;">
                        <div class="row">
                            <div class="col-sm-3" style="width: 50%;">
                                <label for="calendar_min_person" class="col-form-label">최소인원</label>
                                <input type="number" class="form-control" id="calendar_min_person" name="calendar_min_person">
                            </div>
                            <div class="col-sm-3" style="width: 50%;">
                                <label for="calendar_max_person" class="col-form-label">최대인원</label>
                                <input type="number" class="form-control" id="calendar_max_person" name="calendar_max_person">
                            </div>   
                        </div>

                        <div class="row">
                            <div class="col-sm-3" style="width: 50%;">
                                <label for="calendar_start_date" class="col-form-label">시작 날짜</label>
                                <input type="date" class="form-control" id="calendar_start_date" name="calendar_start_date">
                            </div>
                            <div class="col-sm-3" style="width: 50%;">
                                <label for="calendar_end_date" class="col-form-label">종료 날짜</label>
                                <input type="date" class="form-control" id="calendar_end_date" name="calendar_end_date">
                            </div>   
                        </div>

                        <div class="row">
                            <div class="col-sm-3" style="width: 50%;">
                                <label for="calendar_start_date" class="col-form-label">시작 시각</label>
                                <input type="date" class="form-control" id="calendar_start_date" name="calendar_start_date">
                            </div>
                            <div class="col-sm-3" style="width: 50%;">
                                <label for="calendar_end_date" class="col-form-label">종료 시각</label>
                                <input type="date" class="form-control" id="calendar_end_date" name="calendar_end_date">
                            </div>   
                        </div>

                        <hr/>
                        <div class="col-sm-5" style="margin-bottom: 10px;">
                            <input type="radio" class="form-check-input radio-value level-value-detail" id="inlineRadio1" name="level"  value="1" checked>
                            <label class="form-check-label" for="inlineRadio1">입문자</label>

                            <input type="radio" class="form-check-input radio-value level-value-detail" id="inlineRadio2" name="level"  value="2">
                            <label class="form-check-label" for="inlineRadio2">경험자</label>

                            <input type="radio" class="form-check-input radio-value level-value-detail" id="inlineRadio3" name="level"  value="3">
                            <label class="form-check-label" for="inlineRadio3">숙련자</label>
                        </div>

                        <div class="row">
                            <div class="col-sm-3" style="width: 50%;">
                                <label for="default_price" class="col-form-label">1인 수강금액</label>
                                    <input type="number" class="form-control" id="default_price" name="default_price" value="15000" disabled readonly>
                            </div>
                            <div class="col-sm-3" style="width: 50%;">
                                <input id="discount-chk" type="checkbox" class="form-chk" name="discount-chk"><label for="discount" class="col-form-label" style="margin-left: 5px;">할인 비율 설정(%)</label>
                                <input type="number" class="form-control" id="discount" name="discount" value="">
                            </div>   
                        </div>

                        <div style="width: 100%;">
                            <label for="discount_price" class="col-form-label">할인된 금액</label>
                            <input type="number" class="form-control" id="discount_price" name="discount_price" value="" readonly>
                        </div>   
                    </div>
                </div>
                
                
                <div class="modal-footer">
                    <input type="button" value="추가" class="btn btn-warning" id="addCalendar" onclick="add()">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" id="sprintSettingModalClose">취소</button>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.3.5/axios.min.js"></script>
    <script type="text/javascript" th:inline="javascript">
        document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {
            initialView : 'dayGridMonth', // 초기 로드 될때 보이는 캘린더 화면(기본 설정: 달)
            headerToolbar : { // 헤더에 표시할 툴 바
                start : 'prev next today',
                center : 'title',
                 end : 'addEventButton'
            },
            customButtons: {
                    addEventButton: { // 추가한 버튼 설정
                        text : "일정 추가",  // 버튼 내용
                        click : function(){ // 버튼 클릭 시 이벤트 추가
                            $("#calendarModal").modal("show"); // modal 나타내기

                            $("#addCalendar").on("click",function(){  // modal의 추가 버튼 클릭 시
                                var content = $("#calendar_content").val();
                                var start_date = $("#calendar_start_date").val();
                                var end_date = $("#calendar_end_date").val();
                                
                                //내용 입력 여부 확인
                                // if(content == null || content == ""){
                                //     alert("내용을 입력하세요.");
                                // }else if(start_date == "" || end_date ==""){
                                //     alert("날짜를 입력하세요.");
                                // }else if(new Date(end_date)- new Date(start_date) < 0){ // date 타입으로 변경 후 확인
                                //     alert("종료일이 시작일보다 먼저입니다.");
                                // }else{ // 정상적인 입력 시
                                //     var obj = {
                                //         "title" : content,
                                //         "start" : start_date,
                                //         "end" : end_date
                                //     }//전송할 객체 생성

                                //     console.log(obj); //서버로 해당 객체를 전달해서 DB 연동 가능
                                // }
                            });
                        }
                    }
            },
            titleFormat : function(date) {
                return date.date.year + '년 ' + (parseInt(date.date.month) + 1) + '월';
            },
            //initialDate: '2021-07-15', // 초기 날짜 설정 (설정하지 않으면 오늘 날짜가 보임)
            selectable : true, // 달력 일자 드래그 설정가능
            droppable : true,
            editable : false,  // false로 변경 시 draggable 작동 x ,
            displayEventTime: false, // 시간 표시 x
            nowIndicator: true, // 현재 시간 마크
            locale: 'ko', // 한국어 설정
            events:[ // 일정 데이터 추가 , DB의 event를 가져오려면 JSON 형식으로 변환해 events에 넣어줘야함.
                    {
                        title:'일정',
                        start:'2023-06-01 00:00:00',
                        end:'2023-06-03 24:00:00'
                    }
                ]
            });
            calendar.render();
        });
        
        async function add(){
            const min = document.getElementById("calendar_min_person");
            const max = document.getElementById("calendar_max_person");
            
            // POST호출용
            const url = /*[[@{/api/classunit/insert.json}]]*/"";
            const headers = {"Content-Type":"application/json"};
            const body = { no:1, minimum : min.value, maximum : max.value };
            const { data } = await axios.post(url, body, { headers:headers });
            console.log('반환되는 결과', data);
        }

       



    </script>


    

</div>



