<div th:fragment="menu_applymanage">
    <!-- jquery -->
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

    <style>
        .completed {
            background-color: unset;
        }
    </style>
    <table class="table table-borderd center">
        <thead>
            <tr>
                <th>번호</th>
                <th>날짜</th>
                <th>시간</th>
                <th>난이도</th>
                <th>신청인원</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="obj : ${list}">
                <td>
                    <input type="hidden" th:value="${obj.no}" th:text="${obj.rnum}" disabled>
                </td>
                <td th:text="${obj.classdate}"></td>
                <td>
                    <span th:text="${obj.classstart}"></span> ~ <span th:text="${obj.classend}"></span>
                </td>
                <td>
                    <span th:if="${obj.classlevel == 1}">입문자</span>
                    <span th:if="${obj.classlevel == 2}">경험자</span>
                    <span th:if="${obj.classlevel == 3}">숙련자</span>
                </td>
                <td>
                    <span th:text="|${obj.cnt}명|"></span>
                </td>
                <td>
                    <button class="btn btn-sm" style="width: 100px; border:1px solid gray">
                        <a class="nav-link" th:href="@{/classunit/applymanage.do(classcode=${obj.classcode}, unitno=${obj.no})}">보러가기</a>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>

    <div class="row justify-content-center">
        <div class="col-4">
            <ul id="pagination-demo" class="pagination-sm "></ul>
        </div>
    </div>

    <!--jquery-->
    <script th:src="@{/js/jquery-3.6.4.min.js}"></script>
    <!--twbsPagination js-->
    <script th:src="@{/js/jquery.twbsPagination.min.js}"></script>
    <!--axios library-->
    <script th:src="@{/js/axios.min.js}"></script>
    <script type="text/javascript" th:inline="javascript">

        const ccode = /*[[${classcode}]]*/"";

        async function update(no, unitno, button) {
            let url = /*[[@{/api/classunit/updatechk.json}]]*/"";
            url += `?no=${no}`;
            const body = { no: no };
            const headers = { "Content-Type": "application/json" };
            const { data } = await axios.put(url, body, { headers: headers });

            if (data.status === 200) {
                alert("승인이 완료되었습니다.");
                const spanElement = $(button).siblings('span');
                spanElement.text('참여완료');
                spanElement.addClass('completed');
                $(button).css('background', '');
                $(button).prop('disabled', true);
            } else {
                alert("승인할 수 없습니다.");
            }
        }

        var pages = /*[[${pages}]]*/'';

        $(document).ready(function() {
			$('#pagination-demo').twbsPagination({
				totalPages : Number(pages),
				visiblePages : 10,
				first : '처음',
				last : '마지막',
				prev : '이전',
				next : '다음',
				initiateStartPageClick : false,
				startPage : Number(/*[[${param.page}]]*/),
				// 주소창에서 page 값을 받아옴 -> 그 값에 해당하는 목록 버튼이 활성
				onPageClick : function(event, page) {
					//$('#page-content').text('Page ' + page);
					window.location.href=`myunit.do?classcode=${ccode}&menu=2&page=${page}`;
					// 
				}
			});
		});
    </script>

</div>