<div th:fragment="menu_applymanage">
    <!-- jquery -->
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- bootstrap4 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <style>
        
    </style>
    <table class="table table-borderd center">
        <thead>
            <tr>
                <th>클래스 일자</th>
                <th>클래스 시간</th>
                <th>회원 정보</th>
                <th>결제 정보</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="obj : ${list}">
                <td th:text="${obj.classdate}"></td>
                <td th:text="${obj.classstart}"></td>
                <td th:text="${obj.memberid}"></td>
                <td>
                    <div th:if="${obj.chk == 1}">
                        <span>결제완료</span>
                        <button type="button" class="btn btn-sm"  style="border: 1px solid gray;" th:onclick="update()">승인</button>
                    </div>
                    <div th:if="${obj.chk == 3}">
                        <span>참여완료</span>
                        <button type="button" class="btn btn-sm"  style="border: 1px solid gray;">승인</button>
                    </div>
                </td>
                
            </tr>
        </tbody>
    </table>

    <script th:src="@{/js/jquery-3.6.4.min.js}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.3.5/axios.min.js"></script>

    <script type="text/javascript" th:inline="javascript">
        const ccode = /*[[${classcode}]]*/"";
        async function update(){
            let url = /*[[@{/api/classunit/updatechk.json}]]*/"";
            url += `?classcode=`+ccode;
            const body = {classproduct:{classcode:ccode}};
            const headers = {"Content-Type":"application/json"};
            const { data } = await axios.put(url, { headers:headers });
            console.log(body);
            

        }
    </script>
    
    

    
</div>