<footer th:fragment="footer" class="bg-dark container-fluid pt-3 pb-3">    
    <!-- Footer Logo-->
    <a class="text-white text-decoration-none" href="#">
        <!-- 로고 아이콘으로 변경예정 -->
        <div class="logo">Special Day</div>
    </a>
    <!-- /Footer Logo-->
    
    
    <!-- footer menu -->
    <div style="margin-left: 30px; margin-top: 10px;">
        <div class="d-flex">     
            <h6 class="text-white opacity-50">회사소개 |&nbsp;</h6>
            <h6 class="text-white opacity-50">고객센터 |&nbsp;</h6>
            <h6 class="text-white opacity-50">약관 및 정책 </h6>               
        </div>
        <h6 class="text-white opacity-50">주소 : 부산광역시 남구 용소로 *** (대표전화) 123-456-7890</h6>
        <!-- / footer menu -->


        <!-- Footer bottom-->
        <div class="small text-white opacity-50">All rights reserved &copy Special day 2023</div>
        <!-- Footer bottom-->
    </div>
</footer>


