<header th:fragment="header">
    <style>
        .logo {font-family: 'Permanent Marker', cursive; margin-left: 30px;}

        hr.style01 {
            border:none;
            width: auto;
            height: 52px;
            margin-top: 0;
            border-bottom: 1px solid #1f1209;
            box-shadow: 0 20px 10px -20px #333;
            margin: -50px auto 10px;  
        }
    </style>

    <h3 class="logo pt-2">SunnyDay</h3>
    <!-- <img th:src="@{/images/logo.png}" width="400px"> -->
    <hr class="style01">

</header>
