<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <!--Bootstrap 용 CSS-->
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
</head>

<body>
    <!-- 결제하기 버튼 생성 -->
    <button onclick="requestPay()">결제하기</button>


    <!--jQuery-->
    <script th:src="@{/js/jquery-3.6.4.min.js}"></script>
    <!--portone js-->
    <script th:src="@{/js/iamport.payment-1.2.0.js}"></script>

    <button onclick="swal()">alert</button>

    <div class="container">
        <div id='calendar'></div>
        <!-- <div id="googleCalendar"></div> -->
    </div>

    <footer></footer>


    <!--SweetAlert2 JS-->
    <script th:src="@{/js/sweetalert2@11.js}"></script>
    <!--jQuery-->
    <script th:src="@{/js/jquery-3.6.4.min.js}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.0.0-alpha.4/plugins/gcal.js"></script>
    <!--Bootstrap 용 js -->
    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/js/index.global.js}"></script>
    <script th:src="@{/js/gcal.js}"></script>
    <script>

        var IMP = window.IMP;
        IMP.init('imp27884386');

        function requestPay() {
            //iamport 대신 자신의 "가맹점 식별코드"를 사용
            IMP.request_pay({
                pg: "html5_inicis",
                pay_method: "card",
                merchant_uid: 'merchant_' + new Date().getTime(),
                name: '결제테스트',
                amount: 14000,
                buyer_email: 'iamport@siot.do',
                buyer_name: '구매자',
                buyer_tel: '010-1234-5678',
                buyer_addr: '서울특별시 강남구 삼성동',
                buyer_postcode: '123-456'
            }, function (rsp) { // callback
                //   if (rsp.success) {
                //     ...,
                //     // 결제 성공 시 로직,
                //     ...
                //   } else {
                //     ...,
                //     // 결제 실패 시 로직,
                //     ...
                //   }
            });
        }
    </script>

    <!-- <p>
        <label for="timer">남은 시간:</label>
        <input id="timer" type="text" value="" readonly />
    </p>
    <script>
        const timer = document.getElementById('timer'); //스코어 기록창-분
        let min = 1;
        let sec = 60;
        let time = min * sec * 1000;

        timer.value = '0' + min + ":" + '00';

        function TIMER() {
            playtime = setInterval(function () {
                time = time - 1000; //1초씩 줄어듦
                min = time / (60 * 1000); //초를 분으로 나눠준다.

                if (sec > 0) { //sec=60 에서 1씩 빼서 출력해준다.
                    sec = sec - 1;
                    timer.value = '0' + Math.floor(min) + ':' + sec; //실수로 계산되기 때문에 소숫점 아래를 버리고 출력해준다.
                    
                    if(sec < 10) {
                        timer.value = '0' + Math.floor(min) + ':' + '0' + sec;
                    }

                }
                if (sec === 0) {
                    // 0에서 -1을 하면 -59가 출력된다.
                    // 그래서 0이 되면 바로 sec을 60으로 돌려주고 value에는 0을 출력하도록 해준다.
                    sec = 60;
                    timer.value = '0' + Math.floor(min) + ':' + '00'
                }

            }, 1000); //1초마다 
        }

        TIMER();

        setTimeout(function () {

            clearInterval(playtime);

        }, time);//3분이 되면 타이머를 삭제한다.
    </script> -->

    <script>
        var swal = () => {

            Swal.fire({
                title: '정말 삭제하시겠습니까?',
                text: "삭제하면 복구가 불가능합니다.",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#30d665',
                //cancelButtonColor: '#d33',
                confirmButtonText: '확인',
                cancelButtonText: '취소'
            }).then((result) => {
                if (result.isConfirmed) {
                    Swal.fire(
                        'Deleted!',
                        'Your file has been deleted.',
                        'success'
                    )
                }
            })

        }
    </script>
    <script>
        function logoutAction() {
            $("#form_logout").submit();
        }

        document.addEventListener('DOMContentLoaded', function () {
            var calendarEl = document.getElementById('calendar');
            var calendar = new FullCalendar.Calendar(calendarEl, {
                googleCalendarApiKey: 'AIzaSyDL8tig_8-Hvx4DdJ0j4KTGPz39oUGVVFk',
                initialView: 'dayGridMonth',
                headerToolbar: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'dayGridMonth,timeGridWeek,timeGridDay'
                },
                eventSources: // 한국 기념일 ko.south_korea 추가
                    [{
                        googleCalendarId: "ko.south_korea#holiday@group.v.calendar.google.com"
                        , className: "koHolidays"
                        , color: "#80ff00"
                        , textColor: "#FFFFFF"
                    }],

                locale: "ko",

                dateClick: function (info) {
                    console.log(info.dateStr);
                    //alert('Date: ' + info.dateStr);
                    //alert('Resource ID: ' + info.resource.id);
                },
                eventClick: function (info) {
                    //클릭시 구글캘린더 url로 가는것을 막는다.
                    info.jsEvent.stopPropagation();
                    info.jsEvent.preventDefault();
                }

            });

            calendar.render();

        });

        /* 지도 */
        /* 마커 생성 */
            // 지도를 클릭한 위치에 표출할 마커입니다
            // var marker1 = new kakao.maps.Marker({
            //     // 지도 중심좌표에 마커를 생성합니다 
            //     position: map.getCenter()
            // });

            // // 마커가 지도 위에 표시되도록 설정합니다
            // marker1.setMap(map);



            // 마커를 표시할 위치와 title 객체 배열입니다 
            var position = [
                {
                    content: '해운대',
                    latlng: new kakao.maps.LatLng(35.15883991156001, 129.15806348324026)
                },
                {
                    content: '광안리',
                    latlng: new kakao.maps.LatLng(35.15265316306549, 129.1164692011284)
                },
                {
                    content: '부산시민공원',
                    latlng: new kakao.maps.LatLng(35.16837731809186, 129.05743946619899)
                },
                {
                    content: '오륙도',
                    latlng: new kakao.maps.LatLng(35.11478574223503, 129.12167452064705)
                },
                {
                    content: '수변공원',
                    latlng: new kakao.maps.LatLng(35.15736441845954, 129.13147040804157)
                }
            ];



            // positions.forEach(function (pos) {
            //     console.log(pos);
            // });

            /* var contents = [
                {
                    content : '<div class="wrap">' + 
                    '    <div class="info">' + 
                    '        <div class="title">' + 
                    '            카카오 스페이스닷원1' + 
                    '            <div class="close" onclick="closeOverlay(this)" title="닫기"></div>' + 
                    '        </div>' + 
                    '        <div class="body">' + 
                    '            <div class="img">' +
                    '                <img src="" width="73" height="70">' +
                    '           </div>' + 
                    '            <div class="desc">' + 
                    '                <div class="ellipsis">제주특별자치도 제주시 첨단로 242</div>' + 
                    '                <div class="jibun ellipsis">(우) 63309 (지번) 영평동 2181</div>' + 
                    '                <div><a href="https://www.kakaocorp.com/main" target="_blank" class="link">홈페이지</a></div>' + 
                    '            </div>' + 
                    '        </div>' + 
                    '    </div>' +    
                    '</div>'
                },
                
            ]  */

            // 마커 이미지의 이미지 주소입니다
            var imageSrc = "https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/markerStar.png";

            let bounds = new kakao.maps.LatLngBounds();

            console.log('지도', positions);

            for (var i = 0; i < position.length; i++) {

                // 마커 이미지의 이미지 크기 입니다
                var imageSize = new kakao.maps.Size(24, 35);

                // 마커 이미지를 생성합니다    
                var markerImage = new kakao.maps.MarkerImage(imageSrc, imageSize);

                // 마커를 생성합니다
                var marker = new kakao.maps.Marker({
                    map: map, // 마커를 표시할 지도
                    position: position[i].latlng, // 마커를 표시할 위치
                    title: position[i].content, // 마커의 타이틀, 마커에 마우스를 올리면 타이틀이 표시됩니다
                    image: markerImage // 마커 이미지 
                });

                // bounds.extend(positions[i].latlng);

                // 커스텀 오버레이에 표시할 컨텐츠 입니다
                // 커스텀 오버레이는 아래와 같이 사용자가 자유롭게 컨텐츠를 구성하고 이벤트를 제어할 수 있기 때문에
                // 별도의 이벤트 메소드를 제공하지 않습니다 

                // 마커 위에 커스텀오버레이를 표시합니다
                // 마커를 중심으로 커스텀 오버레이를 표시하기위해 CSS를 이용해 위치를 설정했습니다
                // var overlay = new kakao.maps.CustomOverlay({
                //     // content: contents[i].content,
                //     map: map, // map을 선언하지 않으면 지도 위에 올라가지 않음 -> 클릭하면 다시 생성?
                //     position: marker.getPosition()
                // });

                // // 마커를 클릭했을 때 커스텀 오버레이를 표시합니다
                // kakao.maps.event.addListener(marker, 'click', function () {
                //     overlay.setMap(map);
                // });

                // // 커스텀 오버레이를 닫기 위해 호출되는 함수입니다 
                // function closeOverlay(e) {
                //     overlay.setMap(null);
                // }
            }

            // map.setBounds(bounds);

            

            // 지도에 클릭 이벤트를 등록합니다
            // 지도를 클릭하면 마지막 파라미터로 넘어온 함수를 호출합니다
            // kakao.maps.event.addListener(map, 'click', function (mouseEvent) {

            //     // 클릭한 위도, 경도 정보를 가져옵니다 
            //     var latlng = mouseEvent.latLng;

            //     // 마커 위치를 클릭한 위치로 옮깁니다
            //     marker1.setPosition(latlng);

            //     console.log(latlng.getLat());
            //     console.log(latlng.getLng());
            // });

            // 아래 코드는 지도 위의 마커를 제거하는 코드입니다
            // marker.setMap(null);

    </script>
</body>

</html>